<header>
 <h1>Todo List ( {{$ctrl.incompleteCount}} )</h1>
<label class="hide-completed">
    <input type="checkbox" ng-model="$ctrl.hideCompleted"/>
    Hide Completed Tasks
  </label>
  <login-buttons></login-buttons>
  <a href="/newTask" class="btn btn-raised btn-primary">New Task</a>
  <!--<form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)" ng-show="$ctrl.currentUser">
    <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new tasks"/>
  </form>-->

</header>
 <div ui-view=""><div>
